<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39328607357-370fi0fg5t4fooj3ccqtijq7fi9krss8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39328607357-370fi0fg5t4fooj3ccqtijq7fi9krss8</string>
	<key>API_KEY</key>
	<string>AIzaSyA9GORMSbkE9dNFt3oddWnTrwCFeGxvfg4</string>
	<key>GCM_SENDER_ID</key>
	<string>39328607357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ne.goo.dict.pro</string>
	<key>PROJECT_ID</key>
	<string>goo-dict</string>
	<key>STORAGE_BUCKET</key>
	<string>goo-dict.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39328607357:ios:f96ac4b771f6cf6e5bd514</string>
	<key>DATABASE_URL</key>
	<string>https://goo-dict.firebaseio.com</string>
</dict>
</plist>