<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_ACCOUNT_INFO</key>
	<string>$(API_ACCOUNT_INFO)</string>
	<key>API_ADD_DEVICE</key>
	<string>$(API_ADD_DEVICE)</string>
	<key>API_ADD_DRAFT</key>
	<string>$(API_ADD_DRAFT)</string>
	<key>API_ADD_FOLDER</key>
	<string>$(API_ADD_FOLDER)</string>
	<key>API_BACKUP_CHECK</key>
	<string>$(API_BACKUP_CHECK)</string>
	<key>API_GET_BACKUP_DRAFTS</key>
	<string>$(API_GET_BACKUP_DRAFTS)</string>
	<key>API_GET_BACKUP_DRAFT_DETAIL</key>
	<string>$(API_GET_BACKUP_DRAFT_DETAIL)</string>
    <key>API_BACKUP_DRAFT_RESTORE</key>
    <string>$(API_BACKUP_DRAFT_RESTORE)</string>
	<key>API_BILLING_STATUS</key>
	<string>$(API_BILLING_STATUS)</string>
	<key>API_DELETE_DEVICE</key>
	<string>$(API_DELETE_DEVICE)</string>
	<key>API_DELETE_DRAFT</key>
	<string>$(API_DELETE_DRAFT)</string>
	<key>API_DELETE_FOLDER</key>
	<string>$(API_DELETE_FOLDER)</string>
	<key>API_DRAFT_SORT</key>
	<string>$(API_DRAFT_SORT)</string>
	<key>API_DRAFT_SORT_MANUAL</key>
	<string>$(API_DRAFT_SORT_MANUAL)</string>
	<key>API_FOLDERS_SORT</key>
	<string>$(API_FOLDERS_SORT)</string>
	<key>API_GET_DRAFTS</key>
	<string>$(API_GET_DRAFTS)</string>
	<key>API_GET_DRAFT_DETAIL</key>
	<string>$(API_GET_DRAFT_DETAIL)</string>
	<key>API_GET_FOLDERS</key>
	<string>$(API_GET_FOLDERS)</string>
	<key>API_HOST</key>
	<string>$(API_HOST)</string>
	<key>API_IDIOM_PATH</key>
	<string>$(API_IDIOM_PATH)</string>
	<key>API_IOS_DEVICE_NAME</key>
	<string>$(API_IOS_DEVICE_NAME)</string>
	<key>API_LIST_DEVICE</key>
	<string>$(API_LIST_DEVICE)</string>
	<key>API_MOVE_DRAFTS</key>
	<string>$(API_MOVE_DRAFTS)</string>
	<key>API_RR_HOST</key>
	<string>$(API_RR_HOST)</string>
	<key>API_SCHEME</key>
	<string>$(API_SCHEME)</string>
	<key>API_SUGGEST_PATH</key>
	<string>$(API_SUGGEST_PATH)</string>
	<key>API_THSRS_PATH</key>
	<string>$(API_THSRS_PATH)</string>
	<key>API_VALIDATION_SERVER</key>
	<string>$(API_VALIDATION_SERVER)</string>
	<key>API_VERIFY_RECEIPT</key>
	<string>$(API_VERIFY_RECEIPT)</string>
	<key>API_WEB_SETTINGS</key>
	<string>$(API_WEB_SETTINGS)</string>
	<key>API_BACKUP_CHECK</key>
	<string>$(API_BACKUP_CHECK)</string>
	<key>API_ADD_BACKUP</key>
	<string>$(API_ADD_BACKUP)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOID_CFBundleURLSchemes_GG)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOID_CFBundleURLSchemes_FB)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>jp.ne.goo.dict.pro</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>goodict</string>
				<string>tagmanager.c.jp.ne.goo.dict.pro</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>$(GOOID_FacebookAppID)</string>
	<key>FacebookDisplayName</key>
	<string>$(GOOID_FacebookDisplayName)</string>
	<key>FacebookUrlSchemeSuffix</key>
	<string>$(GOOID_FacebookUrlSchemeSuffix)</string>
	<key>GooidGoogleClientID</key>
	<string>$(GOOID_GooidGoogleClientID)</string>
	<key>GooidLoginDomain</key>
	<string>$(GOOID_GooidLoginDomain)</string>
	<key>GooidServiceid</key>
	<string>$(GOOID_GooidServiceid)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(APP_NAME) would like to save photos to your photo gallery</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>NSUserTrackingUsageDescription</string>
	<key>SUBCRIPTION_ID</key>
	<string>$(SUBCRIPTION_ID)</string>
	<key>UIAppFonts</key>
	<array>
		<string>ヒラギノ角ゴシック W4</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>WEBVIEW_DICT_PATH</key>
	<string>$(WEBVIEW_DICT_PATH)</string>
	<key>WEBVIEW_FEEDBACK_PATH</key>
	<string>$(WEBVIEW_FEEDBACK_PATH)</string>
	<key>WEBVIEW_HOST</key>
	<string>$(WEBVIEW_HOST)</string>
	<key>WEBVIEW_SCHEME</key>
	<string>$(WEBVIEW_SCHEME)</string>
	<key>WEB_HOST</key>
	<string>$(WEB_HOST)</string>
	<key>WEB_SCHEME</key>
	<string>$(WEB_SCHEME)</string>
</dict>
</plist>
